<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme/slides.css">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/night-owl.css">
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section>
                <section>
                    <h1 class="title"></h1>
                </section>
            </section>
            <section data-markdown="file.md" data-separator="^<!-- slide -->"
                data-separator-vertical="^<!-- vslide -->">
            </section>
            <footer>
                <script type="text/javascript">
                    document.write(document.title)</script>
            </footer>
        </div>
    </div>

    <script src="dist/reveal.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script src="plugin/math/math.js"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            width: 960,
            height: 720,
            hash: true,
            pdfMaxPagesPerSlide: 1,
            <!-- view: 'scroll', -->
            center: false,
            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.KaTeX]
        });
    </script>
</body>

</html>